################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CleanLojaMvc.Application/bin/Debug/net6.0
